pandas
networkx
matplotlib
numpy
seaborn
nltk
spacy
textblob
tqdm
powerlaw
wordcloud
plotly
scipy
infomap
python_louvain
community
ipython
project


-e git://github.com/bhargavchippada/forceatlas2.git#egg=fa2